
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dark {
  @apply bg-dark text-white
}

.light {
  @apply bg-white text-primary
}

.offlight {
  @apply bg-offwhite
}

.offdark {
  @apply bg-offdark
}

.darkText {
  @apply text-black
}

.whiteText {
  @apply text-white
}
.primaryText {
  @apply text-primary
}
.yellow {
  @apply text-yellow
}


@tailwind base;
@tailwind components;
@tailwind utilities;